# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above its average rating.

In [16]:
SELECT TOP 5 COUNT(user_id), book_id FROM BooksDB.dbo.ratings
group by book_id

(No column name),book_id
100,86
100,93
100,136
100,143
100,153

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [29]:
select top 5 book_id, count(rating) as "number of 1 or 5 star ratings" from BooksDB.dbo.ratings
WHERE rating = 1
group by book_id
having count(rating) > 10
UNION
select top 5 book_id, count(rating) from BooksDB.dbo.ratings
WHERE rating = 5
group by book_id
having count(rating) > 10
ORDER BY book_id

book_id,number of 1 or 5 star ratings
86,25
93,37
136,23
143,55
153,23
255,11
959,14
1039,14
4845,11
5355,13

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [36]:
SELECT TOP 5 book_id, COUNT(rating) FROM BooksDb.dbo.ratings
WHERE rating = 1
GROUP BY book_id
HAVING COUNT(rating) > 0
INTERSECT
SELECT TOP 5 book_id, COUNT(rating) FROM BooksDb.dbo.ratings
WHERE rating = 5
GROUP BY book_id
HAVING COUNT(rating) > 0

---- this doesn't return anything?

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [45]:
select top 10 book_id, language_code from BooksDB.dbo.books
where language_code like 'en-US'
except 
select top 10 book_id, language_code from BooksDB.dbo.books
where language_code like 'en-GB'

book_id,language_code
11,en-US
1934,en-US
5907,en-US
37435,en-US
41865,en-US
113436,en-US
428263,en-US
1162543,en-US
1656001,en-US
6442769,en-US

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [9]:
select top 10 tag_name, tag_id from BooksDB.dbo.tags
where tag_id IN (select top 5 tag_id from BooksDB.dbo.book_tags
where count > 100000)

------- it seems like this should have more than one result...

tag_name,tag_id
to-read,30574

In [4]:
select top 5 * from BooksDB.dbo.book_tags
where count > 100000

goodreads_book_id,tag_id,count
1,30574,167697
3,30574,496107
33,30574,116442
295,30574,108955
343,30574,107894